@model QL_DatVeXe.Models.VeXeViewModel

@{
    ViewBag.Title = "XemChiTietVeXe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var tb = Session["TB"] as string;
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="single_listing">

                <!-- Hotel Info -->
                <div class="hotel_info">
                    <!-- Title -->
                    <div class="hotel_title_container d-flex flex-lg-row flex-column">
                        <div class="hotel_title_content">
                            <h1 class="hotel_title">@Model.VeXe.TENVE đi từ <span style="color:#fa9e1b">@Model.VeXe.DIEMDON - @Model.VeXe.DIEMDEN</span> </h1>
                            <div class="rating_r rating_r_@Model.VeXe.SOSAO hotel_rating">
                                <i></i>
                                <i></i>
                                <i></i>
                                <i></i>
                                <i></i>
                            </div>
                            <div class="hotel_location">Khởi hành lúc <span class="khoihanh-fontweight">@Model.VeXe.THOIGIANDON</span> </div>
                            <div class="hotel_location khoihanh-fontweight">Ngày @Model.VeXe.NGAYDI.ToString("dd/MM/yyyy") - @Model.VeXe.NGAYVE.ToString("dd/MM/yyyy")</div>
                        </div>
                        <div class="offers_price_content ml-lg-auto text-lg-right">
                            <div class="offers_price">@string.Format("{0:N0}", Model.VeXe.GIAVE)&ETH;</div>
                        </div>
                        <div class="hotel_title_button ml-lg-auto text-lg-right" style="margin-top:20px;">
                            <div class="button book_button trans_200"><a href="@Url.Action("DatVe", "VeXe", new { mave = Model.VeXe.MAVE })">book<span></span><span></span><span></span></a></div>
                        </div>
                        <div class="thatimchitiet">
                            <a href="@Url.Action("ThemVeXeYeuThich", "YeuThich", new { mave = Model.VeXe.MAVE })">
                                @if (Model.VeXe.YEUTHICH == false)
                                {
                                    <i class="fa fa-heart-o" style="color:#fe0083"></i>
                                }
                                else
                                {
                                    <i class="fa fa-heart" style="color:#fe0083"></i>
                                }
                            </a>
                        </div>
                    </div>
                    <!-- Listing Image -->
                    <div class="hotel_image">
                        <img src="~/Content/images/@Model.VeXe.HINHANH" alt="">
                        <div class="hotel_review_container d-flex flex-column align-items-center justify-content-center">
                            <div class="hotel_review">
                                <div class="hotel_review_content">
                                    @if ((Model.VeXe.SOSAO * 2) >= 8 && (Model.VeXe.SOSAO * 2) <= 10)
                                    {
                                        <div class="hotel_review_title">đánh giá cao</div>
                                    }
                                    else if ((Model.VeXe.SOSAO * 2) >= 5)
                                    {
                                        <div class="hotel_review_title">tạm ổn</div>
                                    }
                                    else
                                    {
                                        <div class="hotel_review_title">đánh giá kém</div>
                                    }
                                    <div class="hotel_review_subtitle">@Model.VeXe.LUOTDANHGIA reviews</div>
                                    @if (Model.VeXe.CONTRONG == 0)
                                    {
                                        <div class="hotel_ghe_subtitle" style="color:red; font-weight:bold; font-size:20px;">HẾT GHẾ</div>
                                    }
                                    else
                                    {
                                        <div class="hotel_ghe_subtitle">Còn @Model.VeXe.CONTRONG chỗ trống</div>

                                    }
                                </div>
                                <div class="hotel_review_rating text-center">@(Model.VeXe.SOSAO * 2)</div>
                            </div>
                        </div>
                    </div>
                    <!-- Hotel Gallery -->
                    <div class="hotel_gallery">
                        <div class="hotel_slider_container">
                            <div class="owl-carousel owl-theme hotel_slider">
                                <!-- Hotel Gallery Slider Item -->
                                <div class="owl-item">
                                    <a class="colorbox cboxElement" href="~/Content/images/listing_1.jpg">
                                        <img src="~/Content/images/listing_thumb_1.jpg" alt="https://unsplash.com/jbriscoe">
                                    </a>
                                </div>
                                <!-- Hotel Gallery Slider Item -->
                                <div class="owl-item">
                                    <a class="colorbox cboxElement" href="~/Content/images/listing_2.jpg">
                                        <img src="~/Content/images/listing_thumb_2.jpg" alt="https://unsplash.com/grovemade">
                                    </a>
                                </div>
                                <!-- Hotel Gallery Slider Item -->
                                <div class="owl-item">
                                    <a class="colorbox cboxElement" href="~/Content/images/listing_3.jpg">
                                        <img src="~/Content/images/listing_thumb_3.jpg" alt="https://unsplash.com/fransaraco">
                                    </a>
                                </div>
                                <!-- Hotel Gallery Slider Item -->
                                <div class="owl-item">
                                    <a class="colorbox cboxElement" href="~/Content/images/listing_4.jpg">
                                        <img src="~/Content/images/listing_thumb_4.jpg" alt="https://unsplash.com/workweek">
                                    </a>
                                </div>
                                <!-- Hotel Gallery Slider Item -->
                                <div class="owl-item">
                                    <a class="colorbox cboxElement" href="~/Content/images/listing_5.jpg">
                                        <img src="~/Content/images/listing_thumb_5.jpg" alt="https://unsplash.com/workweek">
                                    </a>
                                </div>
                                <!-- Hotel Gallery Slider Item -->
                                <div class="owl-item">
                                    <a class="colorbox cboxElement" href="~/Content/images/listing_6.jpg">
                                        <img src="~/Content/images/listing_thumb_6.jpg" alt="https://unsplash.com/avidenov">
                                    </a>
                                </div>
                                <!-- Hotel Gallery Slider Item -->
                                <div class="owl-item">
                                    <a class="colorbox cboxElement" href="~/Content/images/listing_7.jpg">
                                        <img src="~/Content/images/listing_thumb_7.jpg" alt="https://unsplash.com/pietruszka">
                                    </a>
                                </div>
                                <!-- Hotel Gallery Slider Item -->
                                <div class="owl-item">
                                    <a class="colorbox cboxElement" href="~/Content/images/listing_8.jpg">
                                        <img src="~/Content/images/listing_thumb_8.jpg" alt="https://unsplash.com/rktkn">
                                    </a>
                                </div>
                                <!-- Hotel Gallery Slider Item -->
                                <div class="owl-item">
                                    <a class="colorbox cboxElement" href="~/Content/images/listing_9.jpg">
                                        <img src="~/Content/images/listing_thumb_9.jpg" alt="https://unsplash.com/mindaugas">
                                    </a>
                                </div>
                            </div>
                            <!-- Hotel Slider Nav - Prev -->
                            <div class="hotel_slider_nav hotel_slider_prev">
                                <svg version="1.1" id="Layer_6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
                                <defs>
                                <linearGradient id='hotel_grad_prev'>
                                <stop offset='0%' stop-color='#fa9e1b' />



                                <stop offset='100%' stop-color='#8d4fff' />



												</linearGradient>
											</defs>
                                <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
											M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
											C22.545,2,26,5.541,26,9.909V23.091z" />



                                <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219
											11.042,18.219 " />



										</svg>
                            </div>

                            <!-- Hotel Slider Nav - Next -->
                            <div class="hotel_slider_nav hotel_slider_next">
                                <svg version="1.1" id="Layer_7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
                                <defs>
                                <linearGradient id='hotel_grad_next'>
                                <stop offset='0%' stop-color='#fa9e1b' />



                                <stop offset='100%' stop-color='#8d4fff' />



												</linearGradient>
											</defs>
                                <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
										M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
										C22.545,2,26,5.541,26,9.909V23.091z" />



                                <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554
										17.046,15.554 " />



										</svg>
                            </div>
                        </div>
                    </div>
                    <!-- Hotel Info Text -->
                    <div class="hotel_info_text">
                        <p>@Model.VeXe.MOTA</p>
                    </div>
                    <!-- Hotel Info Tags -->
                    <div class="hotel_info_tags">
                        <ul class="hotel_icons_list">
                            <li class="hotel_icons_item"><img src="~/Content/images/post.png" alt=""></li>
                            <li class="hotel_icons_item"><img src="~/Content/images/compass.png" alt=""></li>
                            <li class="hotel_icons_item"><img src="~/Content/images/bicycle.png" alt=""></li>
                            <li class="hotel_icons_item"><img src="~/Content/images/sailboat.png" alt=""></li>
                        </ul>
                    </div>
                </div>

                <!-- Rooms -->
                <div class="rooms">
                    <!-- Room -->
                    <div class="diemden_cungloai">Những vé xe cùng đi đến @Model.VeXe.DIEMDEN</div>
                    @foreach (var item in Model.ListVeXe)
                    {
                        <div class="room">
                            <!-- Room -->
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="room_image"><a href="@Url.Action("XemChiTietVeXe", "VeXe", new { mave = item.MAVE, diemden = item.DIEMDEN })">
                                        <img src="~/Content/images/@item.HINHANH" alt=""></a>
                                    </div>
                                    <div class="room_khoihanh rating_r rating_r_@item.SOSAO offers_rating"><a href="single_listing.html"><i></i><i></i><i></i><i></i><i></i> </a></div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="room_content">
                                        <div class="room_title"><a href="@Url.Action("XemChiTietVeXe", "VeXe", new { mave = item.MAVE, diemden = item.DIEMDEN })">@item.TENVE</a></div>
                                        <div class="room_diadiem">@item.DIEMDON - @item.DIEMDEN</div>
                                        <div class="room_price">@string.Format("{0:N0}", item.GIAVE) &ETH;</div>
                                        <div class="room_text">Khởi hành lúc @item.THOIGIANDON ngày @item.NGAYDI.ToString("dd/MM/yyyy") - @item.NGAYVE.ToString("dd/MM/yyyy")</div>
                                        <div class="room_extra">@item.MOTA</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 text-lg-right">
                                    <div class="room_button">
                                        <div class="button book_button trans_200"><a href="@Url.Action("DatVe", "VeXe", new { mave = item.MAVE })">book<span></span><span></span><span></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- Reviews -->
                <div class="reviews">
                    <div class="reviews_title">reviews</div>
                    <div class="reviews_container">
                        @foreach (var item in Model.ListDanhGia)
                        {
                            <div class="review">
                                <div class="row">
                                    <div class="col-lg-1">
                                        <div class="review_image">
                                            <img src="~/Content/images/@item.HINHANH" alt="saaout">
                                        </div>
                                    </div>
                                    <div class="col-lg-11">
                                        <div class="review_content">
                                            <div class="review_title_container">
                                                <div class="review_title">@item.TIEUDE</div>
                                                <div class="rating_r rating_r_@item.SOSAO offers_rating"><i></i><i></i><i></i><i></i><i></i></div>
                                            </div>
                                            <div class="review_text">
                                                <p>@item.NOIDUNG</p>
                                            </div>
                                            <div class="review_name">@item.KHACHHANG.TENKH</div>
                                            <div class="review_date">@item.NGAYDG</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="li-blog-comment-wrapper">
                            @if (tb == "Bạn đã đánh giá vé xe này")
                            {
                                <h2>@Session["TB"]</h2>
                            }
                            <h3>leave a reply</h3>
                            <p>Bạn cần đăng nhập để bình luận *</p>
                            <form action="/VeXe/DanhGia">
                                <div class="comment-post-box">
                                    <div class="row">
                                        <div class="col-lg-12 mb-sm-20 mb-xs-20">
                                            <label>Tiêu đề</label>
                                            <input type="text" class="coment-field" name="tieude" placeholder="tiêu đề">
                                        </div>
                                        <div class="col-lg-12  mt-5">
                                            <label>Bình Luận</label>
                                            <textarea name="comment" placeholder="Viết một bình luận"></textarea>
                                        </div>
                                        <div class="search_item ml-3" style="width: 25.961%;">
                                            <label>Số Sao</label>
                                            <select name="sao" id="adults_2" class="dropdown_item_select search_input" style="background-color:#f8f8f8; color:#666666; width:100%;">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option selected>5</option>
                                            </select>
                                        </div>
                                        <input type="hidden" name="maVe" value="@Model.VeXe.MAVE" />
                                        <input type="hidden" name="diemDen" value="@Model.VeXe.DIEMDEN" />
                                        <div class="col-lg-12">
                                            <div class="coment-btn pt-30 pb-xs-30 pb-sm-30 f-left">
                                                <input class="li-btn-2" type="submit" name="submit" value="Gửi Comment">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>